extends layout

block content
  div.container_12
    div.widget.grid_8
      .label.boiler Boiler // 
        span#temp-mode -- 
        span#temp-status --
      p#boiler.temp 0.0
        span.flare &deg;F
      p#brew_detail Target @ 
        span#temp-setpoint -- 
        span#temp-error (--)
        span Output @ 
        span#output --
    div.widget.grid_4
      .label.grouphead Grouphead
      p#brew.temp 0.0
        span.flare &deg;F
      .label Shot Time
      p.time 0.0
        span.flare S   
    div.clear
    div#temp-graph.grid_12
    div.clear
