body {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: #212121;
  color: #E0F2F1;

}

#temp-graph {
  height: 290px;
}

#temp-graph .tick text {
  font-weight: 700;
  fill: #E0F2F1;
}

#temp-graph .line {
  stroke-width: 4px;
}

#temp-graph .boiler .line {
  stroke: #FFAB91;
}

#temp-graph .grouphead .line {
  stroke: #B39DDB;
}

/*#main {
  background: url(/images/coffee.svg);
  background-repeat: none;
  background-size: 110px 110px;
}*/

.label {
  color: #B2DFDB;
  margin-bottom: -20px;
  font-size: 24px;
}

.boiler {
  color: #FFCCBC;
}

.grouphead {
  color: #D1C4E9;
}

.temp, .time {
  margin: 0px;
  text-align: left;
  font-weight: 700;
  font-size: 80px;
}

#brew_detail {
  color: #B2DFDB;
  text-align: left;
  margin-top: -30px;
}

#boiler {
  text-align: left;
  font-weight: 700;
  font-size: 180px;
  margin-top: -50px;
}

.menu-grid {
  text-align: right;
}

.menu-open {
  color: red;
}

a.menu-link:link, a.menu-link:active, a.menu-link:visited  {
  color: #E0F2F1;
  text-decoration: none;
  font-size: 30px;
}

.panel {
  position: fixed;
  right: -800px; /*left or right and the width of your navigation panel*/
  width: 800px; /*should match the above value*/
  height: 100%;
}

.wrap {
  position: relative;
}

#menu .header {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

#menu .subheader {
  font-weight: 400;
  font-size: 24px;
  color: #B2DFDB;
  margin-bottom: 5px;
}

#menu label {
  font-weight: 300;
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 15px;
}

#menu input {
  width: 200px;
  outline: 0;
}


span.flare {
  position: relative;
  font-size: 16px;
  top: -9px;
  left: -2px;
  opacity: 0.5;
}

label > span.flare {
  position: relative;
  font-size: 16px;
  top: -3px;
  opacity: 0.5;
}
